<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <!--    <link rel="script" href="js/bootstrap.min.js" />-->
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">Community</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user == null}"><a
                        href="https://github.com/login/oauth/authorize?client_id=eff06f54074ea9e4eb04&redirect_url=http://localhost:8887/callback&scope=user&state=1">Login</a>
                </li>
                <li th:if="${session.user != null}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
    <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Submit new question</h2>
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <form th:action="@{/publish}" method="post" th:object="${question}">
                <div class="form-group">
                    <label for="title">Question title</label>
                    <input type="text" class="form-control" th:field="*{title}" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="description">Question description</label>
                    <input type="text" class="form-control" th:field="*{description}" cols="30"
                           placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="tag">Question tag</label>
                    <input type="text" class="form-control" th:field="*{tag}" placeholder="Tag">
                </div>
                <div th:if="${error != null}" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">ERROR:</span>
                    <span th:text="${error}"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>Question Submit Guidance</h3>
            <li>guide 1</li>
            <li>guide 2</li>
            <li>guide 3</li>
        </div>

    </div>
</div>
</body>
</html>
