<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js" type="application/javascript"></script>

    <!--    <link rel="script" href="js/bootstrap.min.js" />-->
</head>
<body>
<div th:replace="includes/nav :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <!-- question details -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default" th:object="${question}">
                <div class="panel-heading">
                    <h2 class="panel-title" th:text="*{title}"></h2>
                </div>
                <div class="panel-body">
                    <span>description: </span>
                    <span th:text="*{description}"></span>
                    <br>
                    <span>tag: </span>
                    <span th:each="tag : ${question.tag.split(',')}">
                        <span class="label label-info" th:text="${tag}"></span>
                    </span>
                    <br>
                    <span th:text="*{viewCount}"></span> Views -
                    <span th:text="*{likeCount}"></span> Likes -
                    <span th:text="*{commentCount}"></span> Comments -
                    <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd')}"></span>
                </div>
                <div class="panel-footer" th:if="${session.user != null && question.user.id == session.user.id}">
                    <a th:href="@{'/publish/'+${question.id}}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>Related topics</h3>
            <ul>
                <li th:each="relatedQuestion : ${related}">
                    <a th:href="@{'/question/' + ${relatedQuestion.id}}" th:text="${relatedQuestion.title}"></a>
                </li>
            </ul>
        </div>
        <hr class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <!-- comments details-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}"
             th:if="${session.user != null}">
            <div class="meida">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object image-circle" th:src="${session.user.avatarUrl}"/>
                    </a>
                </div>
                <div class="media-body meida-text">
                    <h5 class="media-heading">
                        <span th:text="${session.user.name}"></span>
                    </h5>
                    <div th:text="${comment.content}"></div>
                    <div>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="glyphicon glyphicon-comment"></span>
                        <span class="pull-right" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <!-- 回复输入框 -->
        <div id="comment_section" class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${session.user != null}">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object image-circle" th:src="${session.user.avatarUrl}"/>
                    </a>
                </div>
                <div class="media-body meida-text">
                    <h5 class="media-heading">
                        <span th:text="${session.user.name}"></span>
                    </h5>
                </div>
            </div>
            <input type="hidden" id="question_id" th:value="${question.id}">
            <textarea id="comment_content" class="form-control" rows="6"></textarea>
            <button type="button" class="btn btn-success" style="float:right" th:onclick="submitComment()">submit
            </button>
        </div>
    </div>
</div>
</body>
</html>
