<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav th:fragment="nav" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">Community</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" action="/" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search..." name="search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/publish">Publish</a></li>
                <li>
                    <a href="/profile/notifications">Notification
                        <span class="badge" th:text="${session.notificationCounts}"></span>
                    </a>
                </li>
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=eff06f54074ea9e4eb04&redirect_url=http://localhost:8887/callback&scope=user&state=1">Login</a>
                </li>
                <li th:if="${session.user != null}" class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object image-circle" th:src="${session.user.avatarUrl}"/>
                            </div>
                            <div class="media-right meida-text">
                                <h5 class="media-heading">
                                    <span th:text="${session.user.name}"></span>
                                    <span class="caret"></span>
                                </h5>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/profile/myQuestions}">My Questions</a></li>
                        <li><a th:href="@{/profile/hotQuestions}">Hot Questions</a></li>
                        <li><a th:href="@{/logout}">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>

</html>